@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #ffd0ab;
};

body {
  overflow-x: hidden;
};

:root {
  --text_color: #3a3a3b;
  --sub_color: #111124;
  --header_bg: #fff;
}

[data-theme="dark"] {
  --text_color: #aeb6c5;
  --sub_color: #977EF6;
  --header_bg: #1D232A;
}